<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="css/portal.css" type="text/css">
   <script src="../../db.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <title>Personal Portal</title>

   <!-- AJAX CODE  -->
   <script type="text/javascript">
      $(document).ready(function() {
         $('#fish_btn').click(function() {
            $('#content').html('<br><div class="table-responsive-md">'+
                                 '<table class="table tb1">'+
                                    '<tr>' +
                                       '<th>Species</th>' +
                                       '<th>Weight (lbs.)</th>' +
                                       '<th>Length (in.)</th>' +
                                       '<th>City</th>' +
                                    '</tr>' +
                                 '<% result.forEach(function(obj){ %>' +
                                    '<tr>' +
                                       '<td><%=obj.species%></td>' +
                                       '<td><%=obj.weight%></td>' +
                                       '<td><%=obj.length%></td>' +
                                       '<td><%=obj.city%></td>' +
                                    '</tr>' +
                                 '<%})%>' +
                                 '</table>' +
                              '</div>');
            return false;
         });
         $('#add_btn').click(function() {
            $('#content').load("form.html");
            return false;
         });
         $('#delete_btn').click(function() {
            $('#content').html('<br><div class="table-responsive-md">'+
                                 '<table class="table tb1">'+
                                    '<tr>' +
                                       '<th>Delete?</th>' +
                                       '<th>Species</th>' +
                                       '<th>Weight (lbs.)</th>' +
                                       '<th>Length (in.)</th>' +
                                       '<th>City</th>' +
                                    '</tr>' +
                                    '<% result.forEach(function(obj){ %>' +
                                    '<tr>' +
                                       '<td><input type="checkbox" name="name" />&nbsp;</td>' +
                                       '<td><%=obj.species%></td>' +
                                       '<td><%=obj.weight%></td>' +
                                       '<td><%=obj.length%></td>' +
                                       '<td><%=obj.city%></td>' +
                                    '</tr>' +
                                    '<%})%>' +
                                 '</table>' +
                              '</div>' + 
                              '<div class="form-submit s1">' +
                                 '<input type="submit" name="submit" id="submit" class="submit" value="Delete Fish" />' +
                              '</div>');
            return false;
         });
         $('#logout_btn').click(function() {
            // somehow destroy session
            window.open('/', '_self');
            return false;
         });
      });

      function logout() {
         $.post("/logout", function(result) {
            if (result && result.success) {
               alert("Logged out successfully.");
            } else {
               alert("Error logging out.");
            }
         });
      }

      function doAjax(url, callback) {
         let xhttp = new XMLHttpRequest();
         xhttp = onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
               callback(this.responseText);
            }
         };
         xhttp.open("GET", url, true);
         xhttp.send();
      }
   </script>

</head>
<body>
   <div class="portal-main">
      <div class="portal-container">
         <h1>Personal Catches</h1>
         
         <div id="ctr_btn" style="width: auto; text-align:center">
            <button id="fish_btn" class="btn btn-dark">Get Fish</button>
            <button id="add_btn" class="btn btn-dark">Add Fish</button>
            <button id="delete_btn" class="btn btn-dark">Delete Fish</button>
            <button id="logout_btn" class="btn btn-dark">Log Out</button>
         </div>
         <br>
         <div id="content"></div>

      </div>
   </div>
</body>
</html>